.advantages {
  margin: 0 auto;
  width: 320px;
  background-color: @white-bg;
}

.advantages__text-slogan {
  padding: 0;
  margin: 0 auto;
  width: 210px;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  &:first-of-type {
    padding-bottom: 25px;
  }
}

.advantages__bg-triangle {
  fill: @white-text;
}

.advantages__item {
  position: relative;
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;

  &:last-child {
    padding-bottom: 287px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: bottom -43px center;
    background-size: 157px 320px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 77px;
  text-align: center;
  background-image: url("/img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.advantages__text-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 33px;
  background-color: @white-text;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
  color: @black-text;
}

.advantages__description {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.advantages__research {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    width: auto;
  }

  .advantages__wrapper {
    margin: 0 auto;
    width: 660px;
  }

  .advantages__text-slogan {
    margin: 0;
    width: 660px;
    font-size: 40px;
    line-height: 1.2;

    &:last-of-type {
      width: 450px;
    }

    &:first-of-type {
      padding-bottom: 0;
    }
  }

  .advantages__text-wrapper {
    padding-top: 49px;
    padding-bottom: 46px;
    align-items: center;
  }

  .advantages__list {
    margin: 0;
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .advantages__item {
    padding: 0;
    padding-right: 23px;
    width: 308px;
    background-image: none;
    text-align: left;

    &:last-child {
      background: none;
      padding-bottom: 8px;
      padding-right: 21px;
    }

    &::before {
      position: absolute;
      content: "";
      top: -70px;
      right: 369px;
      width: 270px;
      height: 481px;
      background-repeat: no-repeat;
      background-size: 267px auto;
    }

    &:first-child::before {
      background-image: url("../img/iphone-screen-3-tablet@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .advantages__description {
    padding-bottom: 33px;
  }

  .advantages__bg-triangle {
    display: block;
    fill: @white-text;
  }

  .advantages__research {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: @white-text;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: auto;
    background-color: @white-bg;
  }

  .advantages__wrapper {
    margin: 0 auto;
    width: 100%;
    background-image: url("/img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .advantages__text-slogan {
    padding-left: 0;
    width: 733px;
    font-size: 50px;

    &:last-of-type {
      width: 700px;
    }
  }

  .advantages__text-wrapper {
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 63px;
    width: auto;
    background-color: @white-text;
  }

  .advantages__list {
    padding: 0;
    padding-top: 134px;
    margin: 0 auto;
    width: 940px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-image: none;
  }

  .advantages__item {
    padding: 0;
    padding-top: 237px;
    margin: 0;
    position: relative;
    width: 240px;
    text-align: center;

    &::before {
      position: absolute;
      content: "";
      left: -2px;
      top: -125px;
      width: 250px;
      height: 310px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 292px auto;
    }

    &:first-child {
      margin-left: 32px;
    }

    &:last-child {
      margin-right: 30px;
      padding-right: 0;
    }

    &:nth-child(3n+1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }

      &:hover {
        border: 4px solid #252527;
      }
    }

    &:nth-child(3n+2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-child(3n+3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .advantages__title {
    .list-reset;
    padding-bottom: 23px;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 1.7;
  }

  .advantages__research {
    padding-top: 25px;
    padding-bottom: 59px;
    background-color: @white-bg;
  }
}
