.developer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 130px;
}

.developer__text {
  margin-right: 14px;
  margin-top: 5px;
  line-height: 18px;
}

.developer__link {
  fill: @pink-text;

  &:hover {
    fill: @blue-text;
  }

  &:active {
    fill: rgba(@blue-text, 0.3);
  }
}
