.gallery {
  background-color: @white-text;
  width: auto;
}

.gallery-wrapper {
  margin: 0 auto;
  width: 320px;
}

.gallery__header {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 49px;
  width: 245px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
}

.gallery-list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: auto;
}

.gallery__item {
  margin-bottom: 20px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__figure {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;

  &--panorame {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__photo {
  width: 280px;
  height: 180px;

  &--panorame {
    width: 100%;
    height: 137px;
  }
}

.gallery__link {
  .list-reset;
  line-height: 0;
  margin: 0 auto;
  text-decoration: none;
}

.gallery__link--panorame {
  &::before {
    position: absolute;
    content: "панорама дня";
    right: 20px;
    top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: @white-text;
    background-color: @pink-text;
  }
}

.gallery__description {
  padding: 0;
  margin: 0 auto;
  padding-left: 17px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  background-color: @white-bg;
}

.gallery__title {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  text-align: left;
}

.gallery__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  width: 253px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  text-align: left;
}

.gallery__author {
  font-weight: 700;
}

.gallery__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.gallery__count {
  font-size: 12px;
  text-transform: uppercase;
  color: @pink-text;
}

.gallery__button {
  margin-right: 19px;
  text-decoration: none;
}

.gallery__rate {
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.gallery__list {
  padding: 0;
  margin: 0;
}

.gallery__heart-icon {
  fill: @pink-text;
}

@media (min-width: @tablet-width) {
  .gallery-wrapper {
    width: 660px;
  }

  .gallery__header {
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 75px;
    width: 440px;
    font-size: 18px;
    line-height: 30px;
  }

  .gallery__list {
    margin: 0 auto;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 1;
    justify-content: space-between;
  }

  .gallery__figure {
    margin: 0 auto;
    margin-bottom: 20px;
    align-content: center;
    min-height: 455px;
    text-align: center;

    &--panorame {
      margin-bottom: 51px;
      min-height: 630px;
    }
  }

  .gallery__photo {
    width: 300px;
    height: 300px;

    &--panorame {
      width: 100%;
      height: 509px;
    }
  }

  .gallery__link--panorame {
    &::before {
      top: 58px;
    }
  }

  .gallery__description {
    .list-reset;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 13px;
    justify-content: space-between;
    width: 258px;
    min-height: 145px;
    text-align: left;
    background-color: @white-bg;

    &--panorame {
      padding: 0;
      padding-top: 5px;
      padding-left: 28px;
      padding-right: 19px;
      margin-left: 20px;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 574px;
      min-height: 115px;
    }
  }

  .gallery__text {
    padding: 0;

    &--panorame {
      padding: 0;
      margin-bottom: 24px;
      width: 520px;
      order: 2;
      text-align: left;
    }
  }

  .gallery__title {
    margin-top: 13px;

    &--panorame {
      margin-top: 19px;
    }
  }

  .gallery__button {
    order: 2;
    margin-right: 18px;

    &--panorame {
      margin-right: 0;
    }
  }

  .gallery__rate {
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
    margin-top: auto;
    justify-content: space-between;

    &--panorame {
      margin-bottom: 0;
      margin-top: 21px;
      justify-content: space-around;
      width: 140px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper {
    margin: 0 auto;
    width: auto;
  }

  .gallery__header {
    padding-top: 92px;
    padding-bottom: 88px;
    width: 580px;
  }

  .gallery__list {
    width: 940px;
  }

  .gallery__item {
    margin-bottom: 54px;
    min-height: 556px;

    &--panorame {
      min-height: 602px;
    }
  }

  .gallery__figure {
    padding: 0;
    margin: 0 auto;
    min-height: 555px;
    text-align: center;
    background-color: @white-bg;

    &--panorame {
      margin-bottom: 49px;
      width: auto;
      min-height: 602px;
      background-color: @white-text;
    }
  }

  .gallery__photo {
    width: 300px;
    height: 400px;

    &--panorame {
      width: 100%;
      height: 506px;
    }
  }

  .gallery__description {
    padding: 0;
    margin: 0;
    padding-left: 27px;
    padding-right: 18px;
    width: 240px;
    min-height: 149px;

    &--panorame {
      padding: 0;
      margin: 0 auto;
      padding-top: 5px;
      padding-left: 26px;
      padding-right: 26px;
      width: 885px;
      min-height: 90px;
    }
  }

  .gallery__link {
    height: 400px;

    &--panorame {
      height: 506px;

      &::before {
        right: 1px;
        top: 54px;
      }
    }
  }

  .gallery__text--panorame {
    margin-bottom: 24px;
    width: 873px;
  }

  .gallery__rate {
    margin-bottom: 22px;

    &--panorame {
      margin-bottom: 0;
      margin-top: 20px;
      width: 130px;
    }
  }

  .gallery__button {
    margin-right: 0;

    &--panorame {
      margin-right: 0;
    }
  }

  .gallery__title {
    margin-top: 18px;
  }
}
