.gallery {
  padding-top: 45px;
}

.gallery__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.gallery__text {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 49px;
  width: 245px;
  line-height: 30px;
  text-align: center;
}
