.page-main {
  margin: 0 auto;
  width: 320px;
}

.page-main__header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -65px;
}

.page-main__title {
  margin: 0 auto;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 57px;
  width: 230px;
  text-align: center;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 300;
  color: @white-text;
}

.page-main__header-text {
  margin: 0;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  text-align: center;
}

.page-main__gallery-title {
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 84px;
  width: 170px;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: @white-text;
}
