.platform-list__link {
  text-decoration: none;
  padding: 0;

  &--apple {
    margin-bottom: 8px;
  }
}

.platform-list {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 240px;
}

.platform-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 57px;
  padding-top: 18px;
}

@media (min-width: @tablet-width) {
  .platform-list {
    .list-reset;
    margin-left: 49px;
  }

  .platform-list__link {
    &--apple {
      margin-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .platform-list {
    .list-reset;
    margin-top: 0;
    margin-left: 35px;
    justify-content: space-around;
    width: 236px;
  }

  .platform-list__link {
    &--apple {
      margin-bottom: 9px;
    }
  }

  .platform-list__item {
    padding-top: 26px;
  }
}
