.price {
  background-color: @white-bg;
}

.price__wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.price__toggles {
  .list-reset;
  padding-top: 33px;
  padding-bottom: 42px;
  text-align: center;
}

.price__background {
  fill: @white-text;
}

@media (min-width: @tablet-width) {
  .price__toggles {
    display: none;
  }

  .price__wrapper {
    padding-bottom: 96px;
  }
}

@media (min-width: @desktop-width) {
  .price__background {
    margin: 0;
    padding: 0;
  }
}
