.user-comment {
  padding-bottom: 39px;
  width: 320px;
  border-style: none;
}

.user-comment__item {
  margin: 0;
  padding: 0;
}

.user-comment__label {
  display: block;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 11px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: @pink-text;
}

.user-comment__input {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 14px;
  padding-left: 17px;
  padding-right: 7px;
  line-height: 30px;
  font-size: 18px;
  min-height: 182px;
  border: 2px solid @grey-light;
}

.user-comment__input::placeholder {
  color: @black-text;
}

@media (min-width: @tablet-width) {
  .user-comment {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 67px;
    padding-bottom: 51px;
    width: auto;
    border: 2px solid @grey-light;
    order: 5;
  }

  .user-comment__item {
    margin: 0;
    margin-left: 38px;
    margin-right: 38px;
    padding: 0;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
  }

  .user-comment__label {
    display: none;
  }

  .user-comment__input {
    padding-top: 13px;
    padding-left: 19px;
    padding-right: 10px;
    min-height: 173px;
  }
}

@media (min-width: @desktop-width) {
  .user-comment {
    margin: 0 auto;
    padding-bottom: 43px;
    width: 100%;
  }

  .user-comment__input {
    padding-left: 19px;
    padding-right: 10px;
    padding-bottom: 0;
    width: 788px;
    min-height: 110px;
  }

  .user-comment__item {
    padding-top: 32px;
  }
}
